.navbar {
    text-align: center;
    justify-content: center;
}

.navbar-brand {
    font-size: 28px;
}

#current-details {
    margin-top: 20px;
}

#city-input {
    margin-bottom: 10px;
}
#add-city {
    margin-bottom: 10px;
    width: 50px;
    margin-top: 0px;
}

.card-header,
.forecast-header {
    padding-top: 20px;
}

#forecast-card {
    display: inline;
    margin: 10px 5px;
}

button {
    width: 100%;
    display: block;
    margin: 10px 0;
}